@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleUp {
  from { transform: scale(0); }
  to { transform: scale(1); }
}

#wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Gloomy';
	font-size: 3rem;
	animation: scaleUp 0.9s ease forwards;
}

#headerWrapper {
	display: flex;
	align-items: center;
}

#text {
	font-family: 'Gloomy';
	font-size: 1.4rem;
	max-width: 800px;
	max-height: fit-content;
	padding: 0;
	border-radius: 10px;
	overflow: auto;
	margin: auto;
}

#title {
	color: var(--green-main);
	font-size: 6rem;
	display: inline;
	margin-left: 40px;
	margin-right: 10px;
}

#subtitle {
	color: var(--red-main);
	font-size: 2rem;
	display: inline-block;
	font-family: 'BrightSunshine';
	transform: rotate(-15deg);
	position: relative;
	top: -30px;
}

.paragraph {
	margin: 20px;
	overflow-wrap: auto;
	text-align: justify;
	word-spacing: 0.2em;
}

#snakeHeadshot {
	height: 300px;
	float: left;
	margin: 0;
}

.outro {
	text-align: center;
	padding-bottom: 40px;
}

#btnWrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}

@media only screen and (max-width: 850px) {
  #text {
		width: 100vw;
		height: 100vh;
		padding: 50px 20px;
		margin: 0;
		border-radius: 0;
		padding-bottom: 0;
	}
}

@media only screen and (max-width: 800px) {
	#text {
		display: flex;
		flex-direction: column;
	}

	#snakeHeadshot {
		height: 250px;
		width: auto;
		align-self: center;
	}

	#title {
		font-size: 4rem;	
	}
}

