@keyframes pulseGlow {
  0% {
    box-shadow: 0px 0px 10px 10px rgba(81, 80, 80, 0.7);
  }
  50% {
    box-shadow: 0px 0px 20px 20px rgba(81, 80, 80, 1);
  }
  100% {
    box-shadow: 0px 0px 10px 10px rgba(81, 80, 80, 0.7);
  }
}

#boardContainer {
	width: fit-content;
	border: 1px solid var(--light-main);
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	background-color: var(--dark-dark);
	box-shadow: 0px 0px 10px 10px rgb(81, 80, 80);
	outline: none;
	animation: pulseGlow 2s infinite;
}

.row {
	display: flex;
}

.square {
	height: 40px;
	width: 40px;
	border: 1px solid rgba(189, 189, 189, 0.1);
}

.snake {
	background: var(--green-main);
	border-radius: 50%;
}

.head {
	background-image: url('./assets/snake.png');
	background-size: cover;
}

.brain {
  background-image: url('./assets/brain.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#score-wrapper {
	font-family: 'Gloomy';
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -15px;
	margin-bottom: 30px;
}

.score-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 30px;
}

#difficulty-label, #brains-eaten-label {
	font-family: 'Gloomy';
	font-size: 1.5rem;
	margin-right: 30px;
}

#level, #score {
	color: var(--red-main);
	font-family: 'Gloomy';
	font-size: 1.8rem;
}

#score {
	color: var(--green-main);
}

#brain-image {
	display: inline;
	height: 30px;
}

#flexy {
	display: flex;
	align-items: center;
}
