.row {
	display: flex;
}

.square {
	height: 40px;
	width: 40px;
	border: 1px solid rgba(189, 189, 189, 0.1);
}

.snake {
	background: var(--green-main);
	border-radius: 50%;
}

.head {
	background-image: url('./assets/snake.png');
	background-size: cover;
}

.brain {
  background-image: url('./assets/brain.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
